argcomplete==1.8.2
asn1crypto==0.23.0
awsebcli==3.12.1
bcrypt==3.1.4
beautifulsoup4==4.5.3
blessed==1.14.2
boto==2.48.0
botocore==1.8.36
bz2file==0.98
cachetools==2.0.1
cement==2.8.2
certifi==2018.1.18
cffi==1.11.2
chardet==3.0.4
colorama==0.3.7
cryptography==2.1.2
cymem==1.31.2
cytoolz==0.8.2
datefinder==0.6.1
dill==0.2.7.1
Django==2.0.2
django-autocomplete-light==3.2.10
django-background-tasks==1.1.11
django-bootstrap3==9.0.0
django-compat==1.0.15
django-crispy-forms==1.7.0
django-filter==1.1.0
django-filters==0.2.1
django-tables2==1.13.0
django-watson==1.4.3
django-webpack-loader==0.5.0
django-widget-tweaks==1.4.1
djangorestframework==3.7.1
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
docx2txt==0.6
EbookLib==0.15
Fabric==1.10.2
Fabric3==1.13.1.post1
ftfy==4.4.3
future==0.16.0
fuzzywuzzy==0.15.1
gensim==3.2.0
google-api-python-client==1.6.4
google-auth==1.1.1
google-cloud-core==0.27.1
google-cloud-language==0.29.0
google-gax==0.15.15
googleapis-common-protos==1.5.3
grpcio==1.6.3
html5lib==1.0.1
httplib2==0.10.3
idna==2.6
jmespath==0.9.3
lxml==4.1.0
msgpack-numpy==0.4.1
msgpack-python==0.5.1
murmurhash==0.28.0
nltk==3.2.5
numpy==1.14.0
oauth2client==4.1.2
olefile==0.44
pandas==0.20.3
paramiko==2.3.1
pathlib==1.0.1
pathspec==0.5.0
Pillow==4.3.0
pkg-resources==0.0.0
plac==0.9.6
ply==3.8
preshed==1.0.0
probableparsing==0.0.1
protobuf==3.4.0
pyasn1==0.3.7
pyasn1-modules==0.1.5
pycparser==2.18
PyNaCl==1.1.2
pytesseract==0.1.7
python-crfsuite==0.9.5
python-dateutil==2.6.1
python-Levenshtein==0.12.0
python-pptx==0.6.5
pytz==2017.3
PyYAML==3.12
regex==2017.4.5
requests==2.18.4
rsa==3.4.2
scipy==1.0.0
semantic-version==2.5.0
six==1.11.0
smart-open==1.5.3
spacy==2.0.5
SpeechRecognition==3.6.3
tabulate==0.7.5
termcolor==1.1.0
thinc==6.10.2
toolz==0.9.0
tqdm==4.19.5
ujson==1.35
uritemplate==3.0.0
urllib3==1.22
usaddress==0.5.10
Wand==0.4.4
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.46.0
wrapt==1.10.11
xlrd==1.0.0
XlsxWriter==1.0.2
