container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python pmi_alpha/manage.py migrate"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python pmi_alpha/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python pmi_alpha/manage.py collectstatic --noinput"


option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "pmi_alpha.settings"
    PYTHONPATH: "/opt/python/current/app/pmi_alpha:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "pmi_alpha/pmi_alpha/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"

packages:
  yum:
    git: []
    mysql: []
    mysql-server: []
