

body{
    /*background-color: #172755;*/
    background: linear-gradient(lightgray, #2aabd2);
    background: -moz-linear-gradient(lightgray, #2aabd2);
    color: black;
    font: 400 14px/1.6 'Open Sans', Verdana, Helvetica, sans-serif;


    /* Margin bottom by footer height */
    margin-bottom: 50px;
}


h1{
    font: 400 60px/1.3 'Bree Serif', Georgia, serif;
    color: white;
    text-shadow: 2px 2px gray;
}
/* links */
a {
    color: black;
    font-size: 2em;
    text-shadow: 1px 1px gray;
    display: inline-block;
    transition: 0.3s;
    text-decoration: none;
    padding: 20px;
    /*border: groove;*/
    width: 250px;
    height: 250px;

}


/* When you mouse over the navigation links, change their color */
a:hover, .offcanvas a:focus {
    color: #f1f1f1;

}


html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: transparent;
}

.text-muted{
    font-size: .75em;
    color: lightgray;
}
