{% extends 'database/sidebar.html' %}


	{% block content %}

	 <h3>{{ object }}</h3>
	        
	    {% for field, val in object %}
	    	<!-- Assuming we don't need to display these fields... -->
	    	{% if field.name != "department_employee" and field.name != "contract_employee" and field.name != "customer_vendor" and field.name != "customer_employee" and field.name != "vendor_contract" and field.name != "googlegroup_employee"%}

	    		{{ field.name }} : {{ val }} </br>

	    	{% endif %}
	

	    {% endfor %}
	    </br>* Stuff *</br>
	

	{% endblock %}

