{% load static %}

<html lang="en">
<head>
    <title>Paradyme</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


    <link rel="stylesheet" href="/static/django_tables2/themes/paleblue/css/screen.css" />
    <!--<link rel="stylesheet" type="text/css" href="{ % static 'database/css/sidebar.css' % }">
    <link href="{ % static 'database/js/sidebar.js' % }">-->

    <link rel="stylesheet" href="../../static/database/css/sidebar.css">
    <link rel="stylesheet" href="../../static/database/css/font-awesome.min.css">

</head>

<body>
<!--<div class="list-group" id="mySidenav">
    <a class="list-group-item" href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a>
    <a class="list-group-item" href="#"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; Library</a>
    <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Applications</a>
    <a class="list-group-item" href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; Settings</a>
</div>-->
<div id="mySidenav" class="sidenav">
    <img src="../../static/images/paradyme-management.png" height="49" width="231" style="padding-left: 10px"/>
    <hr>
    <ul>
        <li><a href="#"><i class="fa fa-home fa-lg fa-fw" aria-hidden="true"></i>&nbsp; Home</a><hr>
        <li><a href="#"><i class="fa fa-user-plus fa-lg fa-fw" aria-hidden="true"></i>&nbsp; New Record</a><hr>
        <li><a href="#"><i class="fa fa-search fa-lg" aria-hidden="true"></i>&nbsp; Basic Search</a><hr>
        <li><a href="#"><i class="fa fa-search-plus fa-lg" aria-hidden="true"></i>&nbsp; Advanced Search</a><hr>
        <li><a href="#"><i class="fa fa-th fa-lg" aria-hidden="true"></i> &nbsp; View Tables</a><hr>
        <li><a href="#"><i class="fa fa-align-justify fa-lg" aria-hidden="true"></i>&nbsp; Create View</a><hr>
        <!--if they have permissions&ndash-->
        <li><a href="#"><i class="fa fa-gears fa-lg" aria-hidden="true"></i>&nbsp; Admin</a><hr>
    </ul>




</div>

<div id="main">
    <!--<h2>Sidenav Push Example</h2>
    <p>Click on the element below to open the side navigation menu, and push this content to the right.</p>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>-->
    {% block content %}
    {% endblock %}
</div>



</body>
</html>