/* The side navigation menu */
#mySidenav {
    height: 100%; /* 100% Full-height */
    width: 250px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    /*background-color: #172755;*/
    background: linear-gradient(lightgray, #2aabd2);
    background: -moz-linear-gradient(lightgray, #2aabd2);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px; /* Place content 60px from the top */
    /*transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

}

/* The navigation menu links */
#mySidenav a {

    color: #25e53e;
    display: inline-block;
    transition: 0.3s;
    text-decoration: none;
}

/* When you mouse over the navigation links, change their color */
#mySidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
#mySidenav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#mySidenav li{
    font-size: 22px;
    color: #25e53e;
}

#mySidenav i{
    padding-left: 10px;
}

/* Position and style the close button (top right corner) */
/*#mySidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}*/

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    margin-left: 250px;
    transition: margin-left .5s;
    padding: 20px;
    color: black;
    background-color: white;

}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    #mySidenav {padding-top: 15px;}
    #mySidenav a {font-size: 18px;}
}